.single-item {
  text-align: center;
}

.single-img {
  max-width: 500px;
}

.description {
  font-weight: bold;
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  margin-top: 10px;
}

.card-footer {
  justify-content: space-evenly;
}
